html {
  padding: 0;
  margin: 0;
}
#root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --white: #fff;
  --light: rgb(211, 211, 211);
  --dark: #333;
  --primary: rgb(0, 119, 255);
  padding: 0;
  margin: 0;
  background: var(--light);
}
.manager,
.form,
.list {
  display: flex;
  flex-direction: column;
}
.form-button,
.list-item {
  border-radius: 10px;
}
.manager {
  position: relative;

  max-width: 500px;
  width: 90vw;
  margin: 0px auto;
  background: var(--light);
}
.manager h1 {
  box-sizing: border-box;
  position: fixed;
  align-self: center;
  top: 0px;

  height: 100px;
  width: 90vw;
  max-width: 500px;
  margin: 0px auto;
  padding: 30px;
  font-size: 35px;
  color: var(--white);
  background: var(--primary);
}
.form {
  margin: 130px 0px 50px;
  box-sizing: border-box;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: stretch;
  width: 70%;
  align-self: center;
}
.form input,
.form button {
  height: 40px;
  margin: 15px 0px;
  outline: none;
  border: none;
}
.form input {
  padding: 0px 10px;
}
.form button {
  background: var(--primary);
  color: var(--white);
}

.list-item {
  margin: 10px 0px;
}

.list {
  padding: 30px 0px;
  background: var(--white);
}
.list ul {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 30px;
  margin: 0px;
}

.list-item {
  display: grid;
  padding: 0px 30px;
  grid-template-columns: 80px auto;
  grid-template-rows: 1.5fr 1fr;
  background: var(--light);
  list-style-type: none;
  margin: 30px 0px;
}
.list p {
  margin: 10px 0px;
}
.list h2 {
  font-size: 35px;

  margin: 0px;
  padding: 0px 30px;

  height: 50px;
}
.name {
  grid-column: 1/3;

  font-size: 30px;
}
.age {
  grid-column: 1/2;

  font-size: 15px;
}
.location {
  grid-column: 2/3;

  font-size: 15px;
}
